@font-face {
  font-family: letra;
  src: url(../css/fuente.ttf); }

* {
  margin: 0px;
  padding: 0px; }

nav {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  grid-area: menu; }
  nav li {
    font-size: 1.3rem;
    display: inline-block;
    padding: 5px; }
    nav li a {
      color: #bb3b3b;
      font-style: oblique; }
  nav div {
    display: flex;
    justify-content: center; }
  nav input {
    margin: 5px; }

.logoInicio {
  display: flex;
  flex-direction: row;
  padding: 2%; }

.logo3 {
  width: 25%; }

header {
  font-family: letra;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgba(38, 28, 129, 0.226), white); }

footer {
  font-family: letra;
  grid-area: footer;
  display: grid;
  grid-template-areas: "copy ayuda";
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to back, #ca757583, white); }
  footer section {
    grid-area: ayuda;
    display: flex;
    flex-direction: row; }
  footer p {
    text-align: center;
    grid-area: copy;
    color: #bb3b3b;
    font-size: 20px;
    margin: 10px; }

/*Estilos generales*/
#animacionPatin {
  opacity: 70%;
  width: 10%;
  animation-name: animacionPatin;
  position: absolute;
  right: 80px;
  transform: rotate(-0.8rad);
  animation-duration: 1s;
  margin: 1px; }

@keyframes animacionPatin {
  0% {
    transform: translateX(-200px); }
  100% {
    transform: translateX(0px) rotate(-0.8rad); } }

#animacionPatin2 {
  opacity: 70%;
  width: 10%;
  animation-name: animacionPatin2;
  position: absolute;
  left: 1130px;
  transform: rotate(0.8rad);
  animation-duration: 1s;
  margin: 1px; }

@keyframes animacionPatin2 {
  0% {
    transform: translateX(70px); }
  100% {
    transform: translateX(0px) rotate(0.8rad); } }

#animacionPatin3 {
  opacity: 70%;
  width: 10%;
  animation-name: animacionPatin3;
  position: absolute;
  left: 80px;
  transform: rotate(0.8rad);
  animation-duration: 1s;
  margin: 1px; }

@keyframes animacionPatin3 {
  0% {
    transform: translateX(70px); }
  100% {
    transform: translateX(0px) rotate(0.8rad); } }

#animacionPatin4 {
  opacity: 70%;
  width: 10%;
  animation-name: animacionPatin4;
  position: absolute;
  right: 1130px;
  transform: rotate(-0.8rad);
  animation-duration: 1s;
  margin: 1px; }

@keyframes animacionPatin4 {
  0% {
    transform: translateX(-200px); }
  100% {
    transform: translateX(0px) rotate(-0.8rad); } }

@media (min-width: 501px) and (max-width: 1023px) {
  .patinetos {
    display: none; } }

@media (max-width: 500px) {
  .patinetos {
    display: none; }
  .logo3 {
    width: 50%; } }

/*Index*/
.contenidoPrincipal {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; }

.parrafo1d, .parrafo1 p {
  margin: 1rem;
  font-family: letra; }

.parrafo1 {
  font-family: letra;
  display: flex;
  flex-direction: row;
  background-image: url(../multimedia/Back.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-attachment: fixed;
  background-position: top; }
  .parrafo1 .parrafo2 img {
    margin: 1rem; }
  .parrafo1 p {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    font-family: sans-serif;
    color: #9c0e0e;
    font-style: oblique;
    padding: 30px; }
  .parrafo1 .kolito {
    margin: 1rem; }
    .parrafo1 .kolito img {
      border-radius: 2rem; }

.caja {
  text-align: center; }

.inicio {
  margin: 1rem; }

.iconosInicio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden; }
  .iconosInicio img {
    width: 80%;
    margin: 1rem; }
  .iconosInicio h4 {
    font-family: letra;
    font-size: 1.2rem; }

.parrafo2 {
  margin: 1rem;
  background-color: #f1ebeba1; }
  .parrafo2 a {
    color: #bb3b3b; }

.container_1 {
  display: flex;
  flex-direction: column; }

aside {
  margin-top: 1.5rem; }

.sponsor {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #ca75756e; }
  .sponsor img {
    width: 10%; }
  .sponsor p {
    font-family: letra;
    display: flex;
    text-align: center;
    align-content: center;
    margin-left: 30px;
    color: #bb3b3b;
    font-size: 20px; }

/*SMARTPHONE*/
@media (max-width: 500px) {
  /*Index*/
  .inicio {
    display: none; }
  .icono-Principal {
    width: 2000px; }
  nav ul {
    display: flex;
    flex-direction: column; }
    nav ul div {
      display: flex;
      flex-direction: column; }
  .iconosInicio {
    flex-direction: column; }
    .iconosInicio img {
      width: 30%; }
  .parrafo1 {
    flex-direction: column; }
    .parrafo1 p {
      font-size: 20px; }
  .sponsor {
    flex-direction: column; }
    .sponsor img {
      width: 30%; }
  footer {
    margin: 0px;
    padding: none;
    margin: none; }
    footer p {
      font-size: 1rem;
      font-weight: 300; }
  /*Index*/ }

/*TABLET*/
@media (min-width: 501px) and (max-width: 1023px) {
  /*Index*/
  .parrafo1 p {
    font-size: 18px; }
  .sponsor img {
    width: 15%; }
  /*Index*/ }

.animacionIconos:hover {
  transform: translateY(-1rem);
  transition: transform .2s; }

/*Nosotros*/
main p {
  font-family: letra;
  display: flex;
  align-content: center;
  flex-wrap: wrap; }

.sponsors {
  background-color: #bb3b3b34;
  grid-area: sponsors; }

.imagenNosotros1 {
  grid-area: im1;
  display: flex;
  flex-direction: row; }
  .imagenNosotros1 p {
    font-family: letra;
    font-size: 30px;
    color: #ca7575;
    font-style: oblique; }

.imagenNosotros {
  margin: 20px;
  border-radius: 20px; }

.patrocinio1 {
  display: flex;
  justify-content: center;
  color: #ca7575;
  font-size: 20px; }

.patrocinio {
  font-size: 17px;
  display: flex; }
  .patrocinio img {
    margin: 20px; }
  .patrocinio p {
    font-family: letra;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: #ca7575; }

@media (min-width: 501px) and (max-width: 1023px) {
  /*Nosotros*/
  .sponsors img {
    height: 60%;
    width: 60%; }
  .imagenNosotros1 {
    flex-direction: column; }
    .imagenNosotros1 img {
      width: 96%; }
    .imagenNosotros1 p {
      padding: 40px;
      font-size: 25px; }
  .p1 {
    grid-area: p1;
    width: 60%; }
  .p2 {
    grid-area: p2;
    width: 60%; }
  .p3 {
    grid-area: p3;
    width: 60%; }
  .t1 {
    grid-area: t1;
    margin: 10px; }
  .t2 {
    grid-area: t2;
    margin: 10px; }
  .t3 {
    grid-area: t3;
    margin: 10px; }
  .patrocinio {
    display: grid;
    grid-template-areas: "p1 t1" "p2 t2" "p3 t3";
    grid-template-columns: 20% auto; }
  /*Nosotros*/ }

@media (max-width: 500px) {
  /*Nosotros*/
  .sponsors img {
    height: 50%;
    width: 80%; }
  .imagenNosotros1 {
    flex-direction: column; }
    .imagenNosotros1 img {
      width: 96%; }
    .imagenNosotros1 p {
      padding: 40px;
      font-size: 25px; }
  .p1 {
    grid-area: p1;
    width: 80%; }
  .p2 {
    grid-area: p2;
    width: 80%; }
  .p3 {
    grid-area: p3;
    width: 80%; }
  .t1 {
    grid-area: t1;
    margin: 10px; }
  .t2 {
    grid-area: t2;
    margin: 10px; }
  .t3 {
    grid-area: t3;
    margin: 10px; }
  .patrocinio {
    display: grid;
    grid-template-areas: "p1 t1" "p2 t2" "p3 t3";
    grid-template-columns: 20% auto; }
  /*Nosotros*/ }

.titulos {
  font-family: letra;
  display: flex;
  justify-content: center;
  color: #bb3b3b;
  font-size: 40px; }

.marcas .w-marcas {
  margin: 5px;
  width: 10%; }

@media (min-width: 501px) and (max-width: 1023px) {
  .menuCatalogo {
    flex-direction: column; } }

@media (max-width: 500px) {
  .catalogos {
    display: flex;
    justify-content: center; }
  .marcas {
    display: none; } }

@keyframes animacionCatalogo {
  0% {
    transform: scale(100%); }
  25% {
    transform: scale(200%); }
  50% {
    transform: scale(150%); }
  100% {
    transform: scale(100%); } }

.animacionCatalogo:hover {
  animation-name: animacionCatalogo;
  animation-duration: 13s; }

.preguntasFrecuentes section {
  display: flex;
  flex-direction: column;
  color: #bb3b3b;
  font-size: 20px;
  margin: 20px; }
  .preguntasFrecuentes section p {
    font-family: letra;
    margin-bottom: 10px;
    margin-left: 20px; }
  .preguntasFrecuentes section h2 {
    font-family: letra;
    font-size: 40px;
    margin: 10px; }

.preguntasFrecuentes div h2 {
  font-family: letra;
  color: #bb3b3b;
  font-size: 30px;
  margin: 10px; }

.preguntasFrecuentes div h3 {
  font-family: letra;
  color: #bb3b3b;
  font-size: 20px;
  margin-left: 100px;
  margin-bottom: 80px; }

.contactos {
  display: flex;
  flex-direction: row; }

.contacto form {
  font-family: letra;
  display: flex;
  justify-content: center; }

fieldset {
  font-family: letra;
  margin: 20px;
  border-radius: 5px; }

legend {
  color: #374b73;
  font-size: 20px; }

label {
  font-family: letra;
  color: #374b73;
  font-size: 20px; }

input {
  height: 30px; }

.contacto h2 {
  font-family: letra;
  display: flex;
  justify-content: center;
  font-size: 50px;
  background-color: white; }

.sobre {
  font-family: letra;
  height: 60px;
  border-radius: 5px; }

form {
  display: flex;
  flex-direction: column;
  border: #bb3b3b double; }

@media (min-width: 501px) and (max-width: 1023px) {
  form {
    flex-direction: column; }
  .carucel {
    display: none; } }

@media (max-width: 500px) {
  .carucel {
    display: none; }
  form {
    flex-direction: column;
    background-image: none;
    padding: 20px;
    margin: 20px;
    border: #bb3b3b double; }
  fieldset {
    margin: 20px;
    padding: 20px;
    border-radius: 5px; }
  legend {
    color: #374b73;
    font-size: 20px; }
  label {
    color: #374b73;
    font-size: 20px; }
  input {
    height: 30px; }
  .contacto h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: white;
    font-style: italic; }
  .sobre {
    display: flex;
    flex-direction: column;
    height: 150px; }
  .enQue {
    display: flex;
    flex-direction: column; }
  textarea {
    height: 200px;
    width: 95%; } }
