
$colorP: #bb3b3b;
$colorS: #ca7575;
$colorS2: #374b73;

*{
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    li{
        font-size: 1.3rem;
        display: inline-block;
        padding: 5px;
        a{
            color: $colorP;
            font-style: oblique;
        }
    }
    div{
        display: flex;
        justify-content: center;
    }
    input{
        margin: 5px;
    }
}
.logoInicio{
    display: flex;
    flex-direction: row;
    padding: 2%;
}
.logo3{
    width: 25%;
}


header{
    font-family: letra;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgba(38, 28, 129, 0.226), white);
}

footer{
    font-family: letra;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to back, #ca757583, white);
    section{
        display: flex;
        flex-direction: row;
    }
    p{
        text-align: center;
        color: $colorP;
        font-size: 20px;
        margin: 10px;
    }    
}
/*Estilos generales*/

#animacionPatin{
    opacity: 70%;
    width: 10%;
    animation-name: animacionPatin;
    position: absolute;
    right: 80px;
    transform: rotate(-0.8rad);
    animation-duration: 1s;
    margin: 1px;
}
@keyframes animacionPatin{
    0%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(0px) rotate(-0.8rad);
    }
}


#animacionPatin2{
    opacity: 70%;
    width: 10%;
    animation-name: animacionPatin2;
    position: absolute;
    left: 1130px;
    transform: rotate(0.8rad);
    animation-duration: 1s;
    margin: 1px;
}

@keyframes animacionPatin2{
    0%{
        transform: translateX(70px);
    }
    100%{
        transform: translateX(0px) rotate(0.8rad);
    }
}

#animacionPatin3{
    opacity: 70%;
    width: 10%;
    animation-name: animacionPatin3;
    position: absolute;
    left: 80px;
    transform: rotate(0.8rad);
    animation-duration: 1s;
    margin: 1px;
}

@keyframes animacionPatin3{
    0%{
        transform: translateX(70px);
    }
    100%{
        transform: translateX(0px) rotate(0.8rad);
    }
}

#animacionPatin4{
    opacity: 70%;
    width: 10%;
    animation-name: animacionPatin4;
    position: absolute;
    right: 1130px;
    transform: rotate(-0.8rad);
    animation-duration: 1s;
    margin: 1px;
}
@keyframes animacionPatin4{
    0%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(0px) rotate(-0.8rad);
    }
}

@media (min-width: 501px) and (max-width: 1023px){
    .patinetos{
        display: none;
    }
}

@media (max-width: 500px){
    .patinetos{
        display: none;
    }
    .logo3{
        width: 50%;
    }
}
